# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
dist/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Code generation binaries
bin/

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE
.idea/
.vscode/

# JS
node_modules/
yarn.lock
yarn-error.log
