name: End-to-end tests
on:
  workflow_call:
    inputs:
      clientId:
        description: Client ID to use for authentication
        required: true
        type: string
      oktaOrgUrl:
        description: Okta organization URL
        required: false
        type: string
      oktaAuthServer:
        description: Okta authentication server identifier
        required: false
        type: string
      ref:
        description: Reference branch, tag or commit SHA to checkout
        required: false
        type: string
        default: main
      target:
        description: Makefile test target to run
        required: false
        type: string
        default: test/e2e
      sloctlImage:
        description: >
          Sloctl docker image to use for e2e docker image tests.
          If not provided, the image will be built inside the workflow.
        type: string
        required: false
    secrets:
      clientSecret:
        description: Client secret to use for authentication
        required: true
jobs:
  test:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          repository: nobl9/sloctl
          ref: ${{ inputs.ref }}
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 15
          max_attempts: 3
          command: make "$TEST_TARGET"
        env:
          SLOCTL_CLIENT_ID: ${{ inputs.clientId }}
          SLOCTL_CLIENT_SECRET: ${{ secrets.clientSecret }}
          SLOCTL_OKTA_ORG_URL: ${{ inputs.oktaOrgUrl }}
          SLOCTL_OKTA_AUTH_SERVER: ${{ inputs.oktaAuthServer }}
          SLOCTL_E2E_DOCKER_TEST_IMAGE: ${{ inputs.sloctlImage }}
          TEST_TARGET: ${{ inputs.target }}
