name: Vulnerabilities
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run at 8:00 AM every weekday.
    - cron:  '0 8 * * 1-5'
jobs:
  scan:
    name: Run Golang vulnerability check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Run Golang Vulncheck
        run: make check/vulns
